/* styles_dashboard.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f8f8;
}

.heading {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    margin-bottom: 10px;
}

button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1a73e8;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.budget,
.transaction {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
