<!-- change_password.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_change_password.css') }}">
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('dashboard') }}" style="display: inline;">
        <button type="submit">Go Back to Dashboard</button>
    </form>

    <form action="{{ url_for('change_password') }}" method="post">
        <label for="current_password">Current Password:</label>
        <input type="password" id="current_password" name="current_password" required>

        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required>

        <label for="confirm_new_password">Confirm New Password:</label>
        <input type="password" id="confirm_new_password" name="confirm_new_password" required>

        <button type="submit">Change Password</button>
    </form>
</body>
</html>