<!-- profile_edit.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_edit_profile.css') }}">
    <title>Edit Profile</title>
</head>
<body>
    <div class="container">
    <h1>Edit Profile</h1>
    <form action="{{ url_for('profile') }}" method="post">
        <label for="new_username">New Username:</label>
        <input type="text" id="new_username" name="new_username" value="{{ user.username }}" required>
        <!-- Add additional form fields for other details -->

        <button type="submit">Update Profile</button>
    </form>

    <form action="{{ url_for('profile') }}" method="get">
        <button type="submit">View Profile</button>
    </form>

    <div>
    
</body>
</html>
