<!-- registration.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_registration.css') }}">
    <title>User Registration</title>
</head>
<body>
    <div class="container">
    <h1>User Registration</h1>
    <form method="POST" action="/register">
        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <button type="submit">Register</button>
    </form>
    </div>
</body>
</html>
